body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
  }
  
  #grid {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
  }
  
  .square {
    box-sizing: border-box;
    border: 1px solid black;
  }